{{- define "main" -}}
{{- .Content -}}
{{- partial "home/greetings.html" -}}

<div style="width:95%;margin:0 auto;">
  <div class="show-md" style="display:none;">
    {{- partial "search_bar" . -}}
  </div>

  {{/* Latest Editorial Issues */}}
  {{- $editorialSection := site.GetPage "/editorial" -}}
  {{- if and $editorialSection $editorialSection.Pages -}}
  {{- partial "home/micro_list.html" (dict "items" $editorialSection.Pages "title" "Under the Hood") -}}
  {{- end -}}

  {{/* Technology Columns - latest issue per column */}}
  {{- $columnsSection := site.GetPage "/datastores" -}}
  {{- if and $columnsSection $columnsSection.Sections -}}
  {{- partial "home/columns_grid.html" $columnsSection -}}
  {{- end -}}
</div>
{{- end -}}

{{- define "side" -}}
<aside id="side-pane" class="{{- cond site.Params.rtwt.side.home.sidePaneSticky " side-sticky" "" -}}">
  {{- partial "side/home.html" . -}}
</aside>
{{- end -}}